.blog {
    padding-bottom: 200px;
    .heading {
        max-width: 475px;
        text-align: center;
        margin: 0 auto;
    }
    &__wrapper {
        display: flex;
        margin-top: 96px;
    }
    &__item {
        background-color: var(--white);
        width: calc(33.33% - 24px);
        &-info {
            padding: 30px;
        }
    }
    .text {
        margin-top: 24px;
    }
    .btn {
        margin-top: 48px;
    }
    @media screen and (max-width: 1024px) {
        padding-bottom: 120px;
        &__item-info {
            padding: 30px 20px;
        }
    } 
    @media screen and (max-width: 768px) {
        padding-bottom: 100px;
    } 
    @media screen and (max-width: 640px) {
        &__wrapper {
            margin-top: 50px;
        }
    } 
}

