.footer {
    background-image: url('/assets/img/bg.png');
    padding: 100px 0 50px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 200px;
        padding-right: 200px;
    }
    &__left {
        max-width: 380px;
    }
    .logo {
        font-size: 40px;
        font-weight: 600;
    }
    .motto {
        margin-top: 24px;
    }
    &__menus {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 580px);
    }
    &__col {
        ul {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
    &__bottom {
        border-top: 1px solid var(--gold);
        padding: 12px 0;
        margin-top: 48px;
    }
    @media screen and (max-width: 1200px) {
        padding: 60px 0 40px;
        &__wrapper {
            padding-right: 30px;
            gap: 50px;
        }
        &__menus {
            width: calc(100% - 500px);
        }
        &__bottom {
            margin-top: 36px;
        }
    }
    @media screen and (max-width: 1024px) { 
        &__left {
            max-width: 300px;
        }
        &__menus {
            width: calc(100% - 350px);
        }
    }
    @media screen and (max-width: 1024px) { 
        &__left {
            max-width: 220px;
        }
        &__menus {
            width: calc(100% - 100px);
        }
        &__wrapper {
            padding-right: 0;
        }
    }
    @media screen and (max-width: 640px) { 
        padding: 40px 0 20px;
        &__left {
            max-width: 100%;
        }
        &__menus {
            width: 100%;
            justify-content: flex-start;
            gap: 60px;
        }
        &__wrapper {
            flex-wrap: wrap;
        }
    }
}