.header {
    padding-top: 34px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        font-size: 40px;
        color: var(--gold);
        font-weight: 600;

    }
    &__nav {
        display: flex;
        align-items: center;
        gap: 40px;
        ul {
            display: flex;
            gap: 40px;
            font-weight: 500;
        }
    }
    &__search {
        svg {
            width: 32px;
            height: 32px;
            padding: 5px;
        }
        // svg, svg path {
        //     fill: var(--black);
        // }
    }
}